{% extends 'base.html.twig' %}
{% block body %}
    <h1>Liste des enseignants <a href="{{ path('teacher_add') }}" class="btn btn-success"><img class="logo_teacher" src="{{ asset('assets/images/logo_add_teacher.jpeg') }}" alt="logo"></img></a></h1>
    <ul>
        {% for teacher in teachers %}
        <div class="d-flex flex-row justify-content-between mb-5">
            <li>
                {{ teacher.firstname ~ ' ' ~ teacher.lastname }}
                <a href="{{ path('teacher_update', {'id': teacher.id}) }}" class="btn btn-warning"><img class="logo_teacher" src="{{ asset('assets/images/logo_update_teacher.jpg') }}" alt="logo"></img>
                <a onClick="return confirm('Confirmez la suppression');" href="{{ path('teacher_delete', {'id': teacher.id}) }}" class="btn btn-danger"><img class="logo_teacher" src="{{ asset('assets/images/logo_delete_teacher2.jpeg') }}" alt="logo"></img></a>
            </li>
        </div>
        {% endfor %}    
    </ul>

{% endblock %}
