{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classe de {{ classe.level }} 
    {{ classe.teachers ? 'de ' ~ classe.teachers.firstname ~ ' ' ~ classe.teachers.lastname : ''}}
    </h1>      
    <h3>Listes des élèves <a href="{{ path('student_add', {'id': classe.id}) }}" class="btn btn-primary">Ajouter</a></h3>
    {% for student in classe.students %}
    <li><a href="{{ path('student_view', {'id': student.id}) }}">{{ student.firstname ~ " " ~ student.lastname }}</a></li>
    {% endfor %}
{% endblock %}