 
{% extends 'base.html.twig' %}

{% block body %}
     <h1>Ecole : {{ school.name }}  <a href="{{ path('school_update', {'id': school.id}) }}" class="btn btn-primary">Modifier</a></h1>
    
    <h2>Evenements prévue</h2>
    {% if school.events is not empty %}
        {% for event in school.events %}
            <ul>
                <li>{{ event.name }}</li>
            </ul>
        {% endfor %}
    {% endif %}
   <h2>Les classes   <a href="{{ path('classe_add', {'id': school.id}) }}" class="btn btn-primary">Ajouter</a> </h2>
    {% if school.classes is not empty %}
        {% for classe in school.classes %}
            <ul>
                <li><a href="{{ path('classe_view', {'id': classe.id}) }}"> Classe de  {{ classe.level }} </a></li>
            </ul>
        {% endfor %}
        
    {% endif %}
{% endblock %}